@echo off
git config --local user.name thearchitect777
git config --local user.email thewebarchitect777@gmail.com
git config --local credential.helper ""
git pull
git add -A
git commit -m "loop"
git push https://USERNAME:TOKEN@github.com/ORGANIZATION_NAME/REPO_NAME
git pull
PAUSE